{% extends 'shop/index.html'%}
{% load static %}

{% block content %}
    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div
            class="banner_content d-md-flex justify-content-between align-items-center"
          >
            <div class="mb-3 mb-md-0">
              <h2>Product Checkout</h2>
              <p>Very us move be blessed multiply night</p>
            </div>
            <div class="page_link">
              <a href="#">Home</a>
              <a href="#">Product Checkout</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Checkout Area =================-->
    <section class="checkout_area section_gap">
      <div class="container">
        <div class="returning_customer">
          
        <div class="billing_details">
          <div class="row">
            
              <div class="col-lg-8">
              
                <h3>Billing Details</h3>
                <form
                  class="row contact_form"
                  method="post" 
                  id ="main_form"                 
                >
                {% csrf_token %}
                  <div class="col-md-6 form-group p_star">
                    <input
                      type="text"
                      class="form-control"
                      id="first"
                      name="fname"
                      value={{user.first_name}}
                      disabled
                    />
                  </div>
                  <div class="col-md-6 form-group p_star">
                    <input
                      type="text"
                      class="form-control"
                      id="last"
                      name="lname"
                      value={{user.last_name}}
                      disabled
                    />
                  </div>
                  
                  <div class="col-md-6 form-group p_star">
                    <input
                      type="text"
                      class="form-control"
                      id="number"
                      name="number"
                      placeholder="Delivery Phone"
                      required
                    />
                    
                  </div>
                  <div class="col-md-6 form-group p_star">
                    <input
                      type="text"
                      class="form-control"
                      id="email"
                      name="email"
                      value={{user.email}}
                      disabled
                    />
                    
                  </div>
                  <div class="col-md-12 form-group p_star">
                    <input
                      type="text"
                      class="form-control"
                      id="add1"
                      name="address"
                      placeholder="Delivery Address"
                      required
                    />
                    
                  </div>
                  
                  <div class="col-md-12 form-group p_star">
                    <input
                      type="text"
                      class="form-control"
                      id="city"
                      name="city"
                      placeholder="Town/City"
                      required
                    />
                    
                  </div>
                  <div class="col-md-12 form-group">
                    <input
                      type="text"
                      class="form-control"
                      id="zip"
                      name="postal_code"
                      placeholder="Postcode/ZIP"
                      required
                    />
                  </div>
                  
                </form>
              </div>
              <div class="col-lg-4">
                <div class="order_box">
                  <h2>Your Order</h2>
                  <ul class="list">
                    <li>
                      <a 
                        >Product
                        <span>Total</span>
                      </a>
                    </li>
                    {% for item in cart %}
                    <li>
                        <a href="{{item.product.get_absolute_url}}"
                          >{{ item.product.name }}
                          <span class="middle">x {{ item.quantity }}</span>
                          <span class="last">#{{ item.total_price|floatformat:2 }}</span>
                        </a>
                      </li>
                    {% endfor %}
                    {% if cart.coupon %}
                      <li>
                          "{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% off)
                          <span class="neg">- ${{ cart.get_discount|floatformat:2 }}</span>
                      </li>
                    {% endif %}
                  </ul>
                  <ul class="list list_2">
                    <li>
                      <a href="#"
                        >Subtotal
                        <span>#{{ cart.get_total_price|floatformat:2 }}</span>
                      </a>
                    </li>
                    <li>
                      <a 
                        >Total
                        <span>#{{ cart.get_total_price_after_discount|floatformat:2 }}</span>
                      </a>
                    </li>
                  </ul>
                  <div class="payment_item">
                    
                  <div class="payment_item active">
                    <div class="radion_btn">
                      
                      <img src="{% static 'img/product/single-product/card.jpg' %}" alt="" />
                    </div>
                    <p>
                      
                    </p>
                  </div>

                  <input style="width:100%" type="submit" value="Proceed to Payment" form='main_form'>
                </div>
            
              </div>
            
          </div>
        </div>
      </div>
    </section>
    <!--================End Checkout Area =================-->

    {% endblock %}